* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;  
    text-decoration: none;
}


body{
    background: linear-gradient(to right, #000, #daa520); /* Black to gold */
}


header {   
    text-align: center;
    background-color: #f8f1e8;

}

header a {
    display: flex;
}

header nav ul li {
    display: inline;
    white-space: nowrap;
}


.left-icon {
    width: 12%;
    height: auto;
    margin: 0.8rem auto;
    display: flex;
}

nav {
    position: sticky; 
    top: 0;
    left: 0;
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.8); 
    color:white;
    padding: 1rem 0;
    text-align: center;
}

nav label img {
    width: 15%;
    height: auto;
    margin-right: 2%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 4%;
}

#menu-bar {
    display: none;
}

#menu-bar:checked ~ ul {
    display: block;
}

#menu-bar:checked ~ ul li {
    background-color: rgba(0, 0, 0, 0.8);
}

#menu-bar:checked ~ ul li a {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: var(--primary);
    padding: 0.3rem;
    font-size: 2rem;
}

header #menu-bar ul li:focus-within > ul,
header #menu-bar ul li:hover > ul {
    display: block;
}

nav ul {
    display: none;
}

.styled-video {
    width: 100vw;   
    height: auto;    
    display: block;   
    margin: 0;   
    padding: 0;    
    object-fit: cover;
}

.features {
    display: flex;
    justify-content:space-around;
    padding: 20px 0;
    background: #000;
    color: #FFD700;
    display: flex;    
    flex-direction: column;
    align-items:center;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 470px;
}

.feature .cirkel {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #FFD700;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0 0 5px #FFD700, 0 0 25px #FFD700;
    padding-top: 50px;
    padding-bottom: 50px;
    padding: 20px;
    text-decoration: none;
}

.feature .cirkel :hover{
    box-shadow: 0 0 5px #FFD700, 0 0 25px #FFD700,
     0 0 50px #FFD700, 0 0 100px #FFD700, 
     0 0 200px #FFD700;

}

.cirkel{
    font-family: 'Times New Roman', Times, serif;
    font-size: 9px;
    font-weight: bold;
    text-decoration: none;
}


.container{

    width: 90%;
    padding: 20px;
    margin:100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
}

.box img{
    display: block;
    width: 100%;
    border-radius: 5px;

}

.box:hover{
    transform:scale(1.3);
    z-index: 2;
}


.guitar {
    text-align: center;
    padding: 30px;
    margin-top: -5rem;
}

.guitar img {
    width: 30%;
}
  

.linje{
    border: none;
    height: 4px;
    background-color: #000;
    width: 100%;
    margin: 20px auto;
}

footer a {
    color: #FFD700;
    text-decoration: none;
    font-size: 1.5rem;
}

footer .social-links a {
    margin: 0 70px;
    padding-top: 5px;
    
}

footer {
    text-align: center;     
    background:rgba(0, 0, 0, 0.8);
    padding: 20px;
}


form {
    display: grid;
    margin-bottom: 1.5rem;
    text-align: left;
    max-width: 350px; /* Maksimal bredde på formularen */
    margin: 0 auto;   /* Centrerer formularen */
    color: white;
}

form label {
    font-size: 1rem;
    font-weight: bold;
}

form input[type="text"] {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #4f402c; 
    color:  white;
    border: none;
    padding: 0.6rem 1.4rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
}

footer h2 {
    font-size: 3rem;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

.contact-info h2 {
    font-size: 45px;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}

form input[type="submit"]:hover {
    background-color: #8F7858;
}

.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form input[type="tel"] {
    width: 100%;               
    padding: 8px;             
    margin-bottom: 10px;      
    border: 1px solid #4f402c; 
    border-radius: 4px;        
    box-sizing: border-box;   
    font-size: 14px;           
    background-color: white;  
}

.submit-button {
    background-color: #4f402c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px; 
}

.kontakt1, .kontakt2 {
    font-size: 15px;
    color: white;
    line-height: 1.6;
    text-align: center;
}

.booking-form h2 {
    font-size: 35px;
    color: white; 
    margin-bottom: 15px;
    max-width: 400%;
    text-align: center;
}

ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

footer ul li{
    font-size: 1.1rem;
}

@media only screen and (min-width: 450px) and (orientation: landscape){

.container{

    width: 90%;
    padding: 20px;
    margin:100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10%;
}

}

@media only screen and (min-width: 540px) and (orientation: landscape){

.left-icon {
    width: 8%;
}


nav label img {
    width: 9%;
    margin-top: 2%;
}

.box img{
    display: block;
    width: 100%;
    border-radius: 5px;
}

.container{

    width: 90%;
    padding: 20px;
    margin:100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30%;
}


.feature .cirkel {
    width: 150px;
    height: 150px;
}

}

@media only screen and (min-width: 768px) and (orientation: portrait){

.left-icon {
    width: 12%;
}
    
nav label img {
    width: 14%;
    margin-top: 1.2%;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
    background: #000;
    color: #FFD700;  
}

.features {
    display: flex;
    justify-content:space-around;
    padding: 20px 0;
    background: #000;
    color: #FFD700;
    display: flex;    
    align-items:end;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 250px;
}

.feature .cirkel {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #FFD700;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0 0 5px #FFD700, 0 0 25px #FFD700;
    padding-top: 50px;
    padding-bottom: 50px;
    padding: 20px;
}

.cirkel{
    text-decoration: none;
}

.container{

    width: 90%;
    padding: 20px;
    margin:100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to right, #000, #daa520); /* Black to gold */
}

.box{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
    
}

.box img{
    display: block;
    width: 100%;
    border-radius: 5px;
}

.box:hover{
    transform:scale(1.3);
    z-index: 2;
}

.feature .cirkel{
    margin-top: -400px;
}

footer {
    background:rgba(0, 0, 0, 0.8);
    color: black;
    text-align: center;
    padding: 20px 0;
}
      
footer a {
    color: #FFD700;
    text-decoration: none;
}
      
footer .social-links a {
    margin: 0 50px;
}
    
footer h2 {
    font-size: 4rem;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}
      
footer .contact {
    margin-top: 10px;
    font-size: 0.9rem;
}

}

@media only screen and (min-width: 895px) and (orientation: landscape){

nav label img {
    margin-top: 1%;
}
    
.features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
    background: #000;
    color: #FFD700;
}
        
.container{
    width: 90%;
    padding: 20px;
    margin:100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to right, #000, #daa520); /* Black to gold */
}
        
.feature .cirkel{
    margin-top: -400px;
    font-size: 1.5rem;
    width: 180px;
    height: 180px;
}          
        
.container{
    
    width: 90%;
    padding: 20px;
    margin:100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to right, #000, #daa520); /* Black to gold */
}
    
.box{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
}
    
.box img{
    display: block;
    width: 100%;
    border-radius: 5px;
}
    
.box:hover{
    transform:scale(1.3);
    z-index: 2;
}
        
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    font-family:'Times New Roman', Times, serif
}
        
.footer-section {
    flex: 1;
    margin: 0 20px; 
}
        
.booking-form, .contact-info, .logo-section {
    text-align: left;
}
        
.booking-form h2 {
    font-size: 35px;
    color: white; 
    margin-bottom: 15px;
    max-width: 400%;
    text-align: center;
}
        
.booking-form form label {
    display: flex;
    margin: 2px 0 5px;
    font-size: 14px;
    color: white;
}
        
.booking-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #E7E0D6;
    font-size: 14px;
}
        
.submit-button {
    background-color: white;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px; 
}
        
.submit-button:hover {
    background-color: white;
}
        
        
.contact-info h2 {
    font-size: 45px;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}
        
.kontakt1, .kontakt2 {
    font-size: 15px;
    color: white;
    line-height: 1.6;
    text-align: center;
}
        
        
.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form input[type="tel"] {
    width: 100%;               
    padding: 8px;             
    margin-bottom: 10px;      
    border: 1px solid white; /* mørk linje */
    border-radius: 4px;        /* runde hjørner */
    box-sizing: border-box;   
    font-size: 14px;           
    background-color: white;  
}
      
        
ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}
    
footer ul li{
    font-size: 1.1rem;
}
    
}

@media only screen and (min-width: 1024px) and (orientation: landscape){

nav label img {
    margin-top: 1%;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
    background: #000;
    color: #FFD700;
}

.container{
    width: 90%;
    padding: 20px;
    margin:100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to right, #000, #daa520); /* Black to gold */
}

.feature .cirkel{
    margin-top: -400px;
    font-size: 1.5rem;
    width: 200px;
    height: 200px;
}

.container{

    width: 90%;
    padding: 20px;
    margin:100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to right, #000, #daa520); /* Black to gold */
}

.box{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
    
}

.box img{
    display: block;
    width: 100%;
    border-radius: 5px;

}

.box:hover{
    transform:scale(1.3);
    z-index: 2;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    font-family:'Times New Roman', Times, serif
}
    
.footer-section {
    flex: 1;
    margin: 0 20px; 
}
    
.booking-form, .contact-info, .logo-section {
    text-align: left;
}
    
.booking-form h2 {
    font-size: 35px;
    color: white; 
    margin-bottom: 15px;
    max-width: 400%;
    text-align: center;
}
    
.booking-form form label {
    display: flex;
    margin: 2px 0 5px;
    font-size: 14px;
    color: white;
}
    
.booking-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #E7E0D6;
    font-size: 14px;
}
    
.submit-button {
    background-color: white;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px; 
}
    
.submit-button:hover {
    background-color: white;
}
       
.contact-info h2 {
    font-size: 45px;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}
    
.kontakt1, .kontakt2 {
    font-size: 15px;
    color: white;
    line-height: 1.6;
    text-align: center;
}
       
.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form input[type="tel"] {
    width: 100%;               
    padding: 8px;             
    margin-bottom: 10px;      
    border: 1px solid white; /* mørk linje */
    border-radius: 4px;        /* runde hjørner */
    box-sizing: border-box;   
    font-size: 14px;           
    background-color: white;  
}
     
ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

footer ul li{
    font-size: 1.1rem;
}

}

@media only screen and (min-width: 1200px){

.left-icon {
    width: 40%;
}

nav label img {
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 0 3%;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.6rem;
}

nav ul li a:hover {
    background: #4f402c;
}

nav ul li ul {
    display: none;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
    background: #000;
    color: #FFD700;
}

.container{
    width: 90%;
    padding: 20px;
    margin:100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to right, #000, #daa520); /* Black to gold */
}

.feature .cirkel{
    margin-top: -400px;
    width: 250px;
    height: 250px;
}
    
.box{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
}
    
.box img{
    display: block;
    width: 100%;
    border-radius: 5px;
}
    
.box:hover{
    transform:scale(1.3);
    z-index: 2;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    font-family:'Times New Roman', Times, serif
}
    
.footer-section {
    flex: 1;
    margin: 0 20px; 
}
    
.booking-form, .contact-info, .logo-section {
    text-align: left;
}
    
.booking-form h2 {
    font-size: 35px;
    color: white; 
    margin-bottom: 15px;
    max-width: 400%;
    text-align: center;
}
    
.booking-form form label {
    display: flex;
    margin: 2px 0 5px;
    font-size: 14px;
    color: white;
}
    
.booking-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #E7E0D6;
    font-size: 14px;
}
    
.submit-button {
    background-color: white;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px; 
}
    
.submit-button:hover {
    background-color: white;
}
    
    
.contact-info h2 {
    font-size: 45px;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}
    
.kontakt1, .kontakt2 {
    font-size: 15px;
    color: white;
    line-height: 1.6;
    text-align: center;
}
     
.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form input[type="tel"] {
    width: 100%;               
    padding: 8px;             
    margin-bottom: 10px;      
    border: 1px solid white; 
    border-radius: 4px;     
    box-sizing: border-box;   
    font-size: 14px;           
    background-color: white;  
}
  
    
ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

footer ul li{
    font-size: 1.1rem;
}

}