* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    
}

@font-face {
    font-family: "ackor-demo";
    src: url(AckorDemo-Regular.ttf);
}

body{
    background: linear-gradient(to right, #000, #daa520); /* Black to gold */
}

header {   
    text-align: center;
    background-color: #f8f1e8;

}

header a {
    display: flex;
}

header nav ul li {
    display: inline;
    white-space: nowrap;
}


.left-icon {
    width: 12%;
    height: auto;
    margin: 0.8rem auto;
    display: flex;
}

nav {
    position: sticky; 
    top: 0;
    left: 0;
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.8); 
    color:white;
    padding: 1rem 0;
    text-align: center;
}

nav label img {
    width: 15%;
    height: auto;
    margin-right: 2%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 4%;
}

#menu-bar {
    display: none;
}

#menu-bar:checked ~ ul {
    display: block;
}

#menu-bar:checked ~ ul li {
    background-color: rgba(0, 0, 0, 0.8);
}

#menu-bar:checked ~ ul li a {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: var(--primary);
    padding: 0.3rem;
    font-size: 2rem;
}

header #menu-bar ul li:focus-within > ul,
header #menu-bar ul li:hover > ul {
    display: block;
}

nav ul {
    display: none;
}

.hero {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.hero-overlay h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
    font-family: 'ackor-demo', 'Times New Roman', Times, serif;
}

.hero-overlay .highlight {
    color: #fcd34d; 
    font-family: 'ackor-demo', 'Times New Roman', Times, serif;
    font-size: 5rem;
}

.timeline{
     position: relative;
     max-width: 1200px;
     margin: 100px auto;
     
}

.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1){
    animation-delay: 0s;
}

.container:nth-child(2){
    animation-delay: 1s;
}

.container:nth-child(3){
    animation-delay: 2s;
}

.container:nth-child(4){
    animation-delay: 3s;
}

.container:nth-child(5){
    animation-delay: 4s;
}

.container:nth-child(6){
    animation-delay: 5s;
}


.text-box{
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    color: white;
}

.left-container{
    left: 0;
}

.right-container{
    left:50%;
}

.timeline::after{
    content:'';
    position: absolute;
    width: 6px;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.text-box h2{
    font-weight: 600;
}

.lille-linje{
    border: none;
    height: 2px;
    background-color:#daa520 ;
    width: 100%;
    margin: 20px auto;
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgba(0, 0, 0, 0.8);
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgba(0, 0, 0, 0.8);
    left: -15px;
}

.linje{
    border: none;
    height: 4px;
    background-color: #000;
    width: 100%;
    margin: 20px auto;
}

footer a {
    color: #FFD700;
    text-decoration: none;
    font-size: 1.5rem;
}

footer .social-links a {
    margin: 0 70px;
}

footer {
    text-align: center;   
    background: linear-gradient(to right, #000, #daa520); /* Black to gold */
}


form {
    display: grid;
    margin-bottom: 1.5rem;
    text-align: left;
    max-width: 350px; /* Maksimal bredde på formularen */
    margin: 0 auto;   /* Centrerer formularen */
    color: white;
}

form label {
    font-size: 1rem;
    font-weight: bold;
}

form input[type="text"] {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #4f402c; 
    color:  white;
    border: none;
    padding: 0.6rem 1.4rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
}

footer h2 {
    font-size: 3rem;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

.contact-info h2 {
    font-size: 45px;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}


form input[type="submit"]:hover {
    background-color: #8F7858;
}

.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form input[type="tel"] {
    width: 100%;               
    padding: 8px;             
    margin-bottom: 10px;      
    border: 1px solid #4f402c; 
    border-radius: 4px;        
    box-sizing: border-box;   
    font-size: 14px;           
    background-color: white;  
}


.submit-button {
    background-color: #4f402c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px; 
}

.kontakt1, .kontakt2 {
    font-size: 15px;
    color: white;
    line-height: 1.6;
    text-align: center;
}

.booking-form h2 {
    font-size: 35px;
    color: white; 
    margin-bottom: 15px;
    max-width: 400%;
    text-align: center;
}
  
@media screen and (max-width:600px){
    
.timeline{
    margin: 50px auto;
}

.timeline::after{
    left: 31px;
}

.container{
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
}

.text-box{
    font-size: 13px;
}

.text-box small{
    margin-bottom: 10px;
}

.right-container{
    left: 0;
}

.left-container-arrow, .right-container-arrow{
    border-right: 15px solid #fff;
    border-left: 0;
    left: -15px;
}

}

footer {
    background: linear-gradient(to right, #000, #daa520); /* Black to gold */
    color: black;
    text-align: center;
    padding: 20px 0;
  }
  
footer a {
    color: #FFD700;
    text-decoration: none;
}
  
footer .social-links a {
    margin: 0 50px;
}

footer h2 {
    font-size: 4rem;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}
  
footer .contact {
    margin-top: 10px;
    font-size: 0.9rem;
}


@media only screen and (min-width: 540px) and (orientation: landscape){

.left-icon {
    width: 8%;
}


nav label img {
    width: 9%;
    margin-top: 2%;
}

}

@media only screen and (min-width: 768px) and (orientation: portrait){

.left-icon {
    width: 12%;
}
    
nav label img {
    width: 14%;
    margin-top: 1.2%;
}
   

}

@media only screen and (min-width: 897px) and (orientation: landscape){

nav label img {
    margin-top: 1%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    font-family:'Times New Roman', Times, serif
}
    
.footer-section {
    flex: 1;
    margin: 0 20px; 
}
    
.booking-form, .contact-info, .logo-section {
    text-align: left;
}
    
.booking-form h2 {
    font-size: 35px;
    color: white; 
    margin-bottom: 15px;
    max-width: 400%;
    text-align: center;
}
    
.booking-form form label {
    display: flex;
    margin: 2px 0 5px;
    font-size: 14px;
    color: white;
}
    
.booking-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #E7E0D6;
    font-size: 14px;
}
    
.submit-button {
    background-color: white;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px; 
}
    
.submit-button:hover {
    background-color: white;
    }
    
    
.contact-info h2 {
    font-size: 45px;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}
    
.kontakt1, .kontakt2 {
    font-size: 15px;
    color: white;
    line-height: 1.6;
    text-align: center;
}
    
.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form input[type="tel"] {
    width: 100%;               
    padding: 8px;             
    margin-bottom: 10px;      
    border: 1px solid white; /* mørk linje */
    border-radius: 4px;        /* runde hjørner */
    box-sizing: border-box;   
    font-size: 14px;           
    background-color: white;  
}
  
ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

footer ul li{
    font-size: 1.1rem;
}

}

@media only screen and (min-width: 1024px) and (orientation: landscape){

nav label img {
    margin-top: 1%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    font-family:'Times New Roman', Times, serif
}
    
.footer-section {
    flex: 1;
    margin: 0 20px; 
}
    
.booking-form, .contact-info, .logo-section {
    text-align: left;
}
    
.booking-form h2 {
    font-size: 35px;
    color: white; 
    margin-bottom: 15px;
    max-width: 400%;
    text-align: center;
}
    
.booking-form form label {
    display: flex;
    margin: 2px 0 5px;
    font-size: 14px;
    color: white;
}
    
.booking-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #E7E0D6;
    font-size: 14px;
}
    
.submit-button {
    background-color: white;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px; 
}
    
.submit-button:hover {
    background-color: white;
}
    
.contact-info h2 {
    font-size: 45px;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}
    
.kontakt1, .kontakt2 {
    font-size: 15px;
    color: white;
    line-height: 1.6;
    text-align: center;
}
    
    
    
.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form input[type="tel"] {
    width: 100%;               
    padding: 8px;             
    margin-bottom: 10px;      
    border: 1px solid white; /* mørk linje */
    border-radius: 4px;        /* runde hjørner */
    box-sizing: border-box;   
    font-size: 14px;           
    background-color: white;  
}
  
    
ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

footer ul li{
    font-size: 1.1rem;
}

}

@media only screen and (min-width: 1200px){

.left-icon {
    width: 40%;
}

nav label img {
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 0 3%;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.6rem;
}

nav ul li a:hover {
    background: #4f402c;
}

nav ul li ul {
    display: none;
}
    
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    font-family:'Times New Roman', Times, serif
}
    
.footer-section {
    flex: 1;
    margin: 0 20px; 
}
    
.booking-form, .contact-info, .logo-section {
    text-align: left;
}
    
.booking-form h2 {
    font-size: 35px;
    color: white; 
    margin-bottom: 15px;
    max-width: 400%;
    text-align: center;
}
    
.booking-form form label {
    display: flex;
    margin: 2px 0 5px;
    font-size: 14px;
    color: white;
}
    
.booking-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #E7E0D6;
    font-size: 14px;
}
    
.submit-button {
    background-color: white;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px; 
}
    
.submit-button:hover {
    background-color: white;
}
    
    
.contact-info h2 {
    font-size: 45px;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}
    
.kontakt1, .kontakt2 {
    font-size: 15px;
    color: white;
    line-height: 1.6;
    text-align: center;
}
    
.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form input[type="tel"] {
    width: 100%;               
    padding: 8px;             
    margin-bottom: 10px;      
    border: 1px solid white; 
    border-radius: 4px;     
    box-sizing: border-box;   
    font-size: 14px;           
    background-color: white;  
}
  
ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

footer ul li{
    font-size: 1.1rem;
}

}