* {
    font-family: 'Arial', sans-serif;  
    margin: 0;  
    background: linear-gradient(to bottom, #fff 50%, #000 50%);
}

header {
    position: sticky;
}

header a {
    display: flex;
}

.left-icon {
    width: 12%;
    height: auto;
    margin: 0.8rem auto;
    display: flex;
}

nav {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: blanchedalmond; 
    color:black;
    padding: 1rem 0;
    text-align: center;
}

nav label img {
    width: 15%;
    height: auto;
    margin-right: 2%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 4%;
}

#menu-bar {
    display: none;
}

#menu-bar:checked ~ ul {
    display: block;
}

#menu-bar:checked ~ ul li {
    background-color: rgba(0, 0, 0, 0.8);
}

#menu-bar:checked ~ ul li a {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: var(--primary);
    padding: 0.3rem;
    font-size: 2rem;
}

header #menu-bar ul li:focus-within > ul,
header #menu-bar ul li:hover > ul {
    display: block;
}

nav ul {
    display: none;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background: #000;
    color: #FFD700;
  }
  





























footer {
    background: #000;
    color: #FFD700;
    text-align: center;
    padding: 20px 0;
  }
  
  footer a {
    color: #FFD700;
    text-decoration: none;
  }
  
  footer .social-links a {
    margin: 0 10px;
  }

  footer h2 {
    font-size: 4rem;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}
  
  footer .contact {
    margin-top: 10px;
    font-size: 0.9rem;
  }



@media only screen and (min-width: 540px) and (orientation: landscape){

    .left-icon {
        width: 8%;
    }


    nav label img {
        width: 9%;
        margin-top: 2%;
    }

}

@media only screen and (min-width: 768px) and (orientation: portrait){

}

@media only screen and (min-width: 1024px) and (orientation: landscape){

}

@media only screen and (min-width: 1200px){

    .left-icon {
        width: 20%;
    }
    
    nav label img {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        list-style: none;
        padding: 0 3%;
    }

    nav ul li a {
        text-decoration: none;
        color: var(--primary);
        font-size: 2rem;
    }

    nav ul li a:hover {
        background: #4f402c;
    }

    nav ul li ul {
        display: none;
    }

}